.row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}

h3{
  text-align: center;
}

.card {
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
  width: 80%;

}

.card-body{
  text-overflow: wrap;
}

.card-text {
  text-overflow: wrap;
}

