.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

backend/user-ms/__pycache__

edu-breeze-ui/node_modules
edu-breeze-ui/.DS_Store
edu-breeze-ui/build

.DS_Store

*.log
