

  

h3{
  color: black;
}

p{
  color: black;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
  filter: invert(100%);   
}
.carousel-indicators .active {
  filter: invert(100%);
}

.navbar-inner {
  background: transparent;

}

.navbar .navbar-nav > li .navbar-item ,
.navbar .navbar-brand{
                       color: orange;
                      }

