<!DOCTYPE html>
<html lang="en">
        <head>
            <title>User Login</title>
            <script></script>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/loginCSS.css') }}">
        </head>
        <body>
            Some random stuff
            <form action="">
                <input type="text" id="userId" name="" placeholder="User Identification">
                <input type="password" id="loginPwd" name="loginPwd">
                <input type="submit" value="Submit">
            </form>
        </body>
</html>
